<div class="d-flex flex-column flex-shrink-0 position-fixed">
    <ul class="nav nav-pills flex-column mb-auto">
        <div class="container">
            <div class="row justify-content-between">
                <li class="nav-item fw-bold col-auto" style="padding-top:4px; padding-left:0px">
                    <a class="nav-link text-white" aria-current="page">FOLLOWED CHANNELS</a>
                </li>
                <button type="button" class="btn col">
                    <img class="collapse-arrow" src="./assets/collapse-arrow.png">
                </button>
            </div>
        </div>
        <li>
            <a href="#"><img src="https://i.imgur.com/qYjwoo5.png" style="padding-left:3px;"></a>
        </li>
        <li>
            <a href="#"><img src="https://i.imgur.com/xlcycE7.png" style="padding-left:4px;"></a>
        </li>
        <li>
            <a href="#"><img src="https://i.imgur.com/YpHUaDa.png" style="padding-left:9px;"></a>
        </li>
        <li>
            <a href="#"><img src="https://i.imgur.com/andgya1.png" style="padding-left:6px;"></a>
        </li>
        <li>
            <a class="nav-link" href="#" style="color:#9147ff;">Show More</a>
        </li>
        <li class="nav-item fw-bold">
            <a class="nav-link text-white" aria-current="page">RECOMMENDED CHANNELS</a>
        </li>
        <li>
            <a href="#"><img src="https://i.imgur.com/0kpVP8g.png" style="padding-left:10px;"></a>
        </li>
        <li>
            <a href="#"><img src="https://i.imgur.com/ssCM0NA.png" style="padding-left:12px;"></a>
        </li>
        <li>
            <a class="nav-link" href="#" style="color:#9147ff;">Show More</a>
        </li>
    </ul>
</div>
