.container {
    margin-left: -7.5%;
    padding-top: 5px;
    width:350px;
}

.collapse-arrow {
    height:20px;
    width:20px;
}

.flex-column {
    background-color:#1f1f23;
    width:17%;
    height:100vh;
}

.search-divider {
    color:white;
    width:310px;
    margin-top:155%;
}

.showmore {
    color:#9147ff;
}

.friendsearch {
    margin-left: 10%;
    padding: 0%;
}

.friendbtn {
    background-color: #3a3a3d;
    border-color: #3a3a3d;
    margin-right: -12px;
}

.form-control {
    width:200px;
    background-color: #3a3a3d;
    border-color: #3a3a3d;
}

::placeholder {
    color:white;
}