<nav class="navbar navbar-expand fixed-top" style="background-color:#18181B; height:60px">
    <div class="order-1 d-flex">
        <a class="nav-link active" href="#">
            <img src="./assets/TwitchGlitchPurple.svg" alt="Twitch Logo" width="30" height="35" class="d-inline-block align-text-center">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item px-2" style="vertical-align: middle;">
                <a class="nav-link text-white fw-bold fs-4" href="#">Following</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white fw-bold fs-4" href="#">Browse</a>
            </li>
            <div class="dropdown">
                <li class="nav-item" style="padding-left: 10px;">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split px-1 fs-4" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #18181B; border-color: #18181B;">
                        <img class="text-white verticaldots" src="./assets/menu-vertical.png" style="color:white">
                    </button>
                    <ul class="dropdown-menu" style="background-color: #18181B;" aria-labelledby="dropdownMenuButton1">
                        <li><h6 class="dropdown-header text-white-50">GENERAL</h6></li>
                        <li><a class="dropdown-item text-white" href="#">About</a></li>
                        <li><a class="dropdown-item text-white" href="#">Advertisers</a></li>
                        <li><a class="dropdown-item text-white" href="#">Blog</a></li>
                        <li><a class="dropdown-item text-white" href="#">Developers</a></li>
                        <li><a class="dropdown-item text-white" href="#">Download Apps</a></li>
                        <li><a class="dropdown-item text-white" href="#">Gift Card</a></li>
                        <li><a class="dropdown-item text-white" href="#">IGDB</a></li>
                        <li><a class="dropdown-item text-white" href="#">Jobs</a></li>
                        <li><a class="dropdown-item text-white" href="#">Loot Cave - Merch Store</a></li>
                        <li><a class="dropdown-item text-white" href="#">Music on Twitch</a></li>
                        <li><a class="dropdown-item text-white" href="#">Partners</a></li>
                        <li><a class="dropdown-item text-white" href="#">Press</a></li>
                        <li><a class="dropdown-item text-white" href="#">Turbo</a></li>
                        <div class="container"> 
                            <li><hr class="dropdown-divider col-6" style="color: white; width: 99%;">
                        </div>
                        <li><h6 class="dropdown-header text-white-50">HELP & LEGAL</h6></li>
                        <li><a class="dropdown-item text-white" href="#">Accessibility Statement</a></li>
                        <li><a class="dropdown-item text-white" href="#">Ad Choices</a></li>
                        <li><a class="dropdown-item text-white" href="#">Community Guidelines</a></li>
                        <li><a class="dropdown-item text-white" href="#">Cookie Policy</a></li>
                        <li><a class="dropdown-item text-white" href="#">Help</a></li>
                        <li><a class="dropdown-item text-white" href="#">Private Policy</a></li>
                        <li><a class="dropdown-item text-white" href="#">Safety Center</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </div>

    <div class="order-2 container col-6">
        <form class="d-flex">
                <input class="form-control" style="width:800px; background-color: #464649; border-color: #9147ff; border-width: 2px;" type="search" placeholder="Search" aria-label="Search">
                <button class="btn px-1" style="background-color: #9147ff; border-color: #9147ff;" type="submit">
                    <img src="https://i.imgur.com/WjGX02w.png" alt="Search Button">
                </button>
        </form>
    </div>

    <div class="order-3 d-flex">
        <ul class="navbar-nav w-100">
            <li class="nav-item px-1">
                <a class="nav-link fs-4" href="#">
                    <img class="verticaldots" src="./assets/crown.png" width="26" height="26">
                </a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link fs-4" href="#">
                    <img class="verticaldots" src="./assets/inbox.png" width="25" height="25">
                </a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link fs-4" href="#">
                    <img class="verticaldots" src="./assets/notifications.png" width="25" height="25">
                </a>
            </li>
            <li class="nav-item" style="padding-top: 10px;padding-bottom: 0px;">
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split px-1" id="dropdownBitMenu" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #3a3a3d; border-color: #3a3a3d; height: 40px;">
                    <img src="https://i.imgur.com/LAGV9ct.png">
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="background-color: #18181B; width:320px" aria-labelledby="dropdownBitMenu" role="menu">
                    <li><h6 class="dropdown-header text-white text-center fs-5">Purchase Bits</h6></li>
                    <li>
                        <h6 class="dropdown-header text-white text-center fs-6">You have <img src="https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/1.gif"> 0 bits</h6>
                    </li>
                    <li><hr class="dropdown-divider" style="color:black; height:2px; width: 100%;">
                    <li>
                        <h6 class="dropdown-header text-white fs-6">Prices are shown in USD</h6>
                    </li>
                    <li><hr class="dropdown-divider" style="color:#ffffff; width: 100%;">
                    <li>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <h6 class="dropdown-header text-white fs-6" href="#">100 Bits</h6>
                            <button class="btn text-white fw-bold" style="background-color: #9147ff; border-color: #9147ff;" type="submit">$1.40</button>
                        </div>
                        <a style="padding-left: 15px;"><img src="https://i.imgur.com/16voChx.png"><img src="https://i.imgur.com/rTPAHcx.png"></a>
                    </li>
                    <li><hr class="dropdown-divider" style="color:#ffffff; width: 100%;">
                    <li>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <h6 class="dropdown-header text-white fs-6" href="#">500 Bits</h6>
                            <button class="btn text-white fw-bold" style="background-color: #9147ff; border-color: #9147ff;" type="submit">$7.00</button>
                        </div>
                        <a style="padding-left: 15px;"><img src="https://i.imgur.com/16voChx.png"><img src="https://i.imgur.com/rTPAHcx.png"></a>
                    </li>
                    <li><hr class="dropdown-divider" style="color:#ffffff; width: 100%;">
                    <li>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <h6 class="dropdown-header text-white fs-6" href="#">1,500 Bits</h6>
                            <button class="btn text-white px-2 fw-bold" style="background-color: #9147ff; border-color: #9147ff;" type="submit">$19.95</button>
                        </div>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <a style="padding-left: 15px;"><img src="https://i.imgur.com/16voChx.png"><img src="https://i.imgur.com/rTPAHcx.png"><img src="https://i.imgur.com/nnJ41Ap.png"></a>
                            <h6 class="text-white" style="padding-top: 8px;">5% discount</h6>
                        </div>
                        
                    </li>
                    <li><hr class="dropdown-divider" style="color:#ffffff; width: 100%;">
                    <li>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <h6 class="dropdown-header text-white fs-6" href="#">5,000 Bits</h6>
                            <button class="btn text-white px-2 fw-bold" style="background-color: #9147ff; border-color: #9147ff;" type="submit">$64.40</button>
                        </div>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <a style="padding-left: 15px;"><img src="https://i.imgur.com/16voChx.png"><img src="https://i.imgur.com/rTPAHcx.png"><img src="https://i.imgur.com/nnJ41Ap.png"><img src="https:i.imgur.com/dpESaGb.png"></a>
                            <h6 class="text-white" style="padding-top: 8px;">8% discount</h6>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider" style="color:#ffffff; width: 100%;">
                    <li>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <h6 class="dropdown-header text-white fs-6" href="#">10,000 Bits</h6>
                            <button class="btn text-white px-1 fw-bold" style="background-color: #9147ff; border-color: #9147ff;" type="submit">$126.00</button>
                        </div>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <a style="padding-left: 15px;"><img src="https://i.imgur.com/16voChx.png"><img src="https://i.imgur.com/rTPAHcx.png"><img src="https://i.imgur.com/nnJ41Ap.png"><img src="https:i.imgur.com/dpESaGb.png"><img src="https:i.imgur.com/LIJqE7q.png"></a>
                            <h6 class="text-white" style="padding-top: 8px;">10% discount</h6>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider" style="color:#ffffff; width: 100%;">
                    <li>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <h6 class="dropdown-header text-white fs-6" href="#">25,000 Bits</h6>
                            <button class="btn text-white px-1 fw-bold" style="background-color: #9147ff; border-color: #9147ff;" type="submit">$308.00</button>
                        </div>
                        <div class="d-flex flex-row justify-content-between" style="padding-right: 10px;">
                            <a style="padding-left: 15px;"><img src="https://i.imgur.com/16voChx.png"><img src="https://i.imgur.com/rTPAHcx.png"><img src="https://i.imgur.com/nnJ41Ap.png"><img src="https:i.imgur.com/dpESaGb.png"><img src="https:i.imgur.com/LIJqE7q.png"></a>
                            <h6 class="text-white" style="padding-top: 8px;">12% discount</h6>
                        </div>
                        
                    </li>
                </ul>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link fs-4" href="#">
                    <img src="https://i.imgur.com/sRsDXaI.png">
                </a>
            </li>
        </ul>
    </div>
</nav>