.navbar {
    background-color:#18181B;
    height:60px
}

.serachbar {
    width:800px; 
    background-color: #464649; 
    border-color: #9147ff; 
    border-width: 2px;
}

.searchbarbtn {
    background-color: #9147ff; 
    border-color: #9147ff;
    border-style:solid;
    margin-left: -5px;
}

::placeholder {
    color:white;
}

nav div ul li a:hover{
    color:#9147ff !important;
}

.rightside {
    margin-left:5%;
}

.rightbtn {
    margin-right:-5%;
}