.navbar {
    background-color:#18181B;
    height:60px
}

.more-btn {
    background-color: #18181B; 
    border-color: #18181B;
}

.dropdown-menu-left {
    background-color: #18181B;
}

.more-main-divider {
    color: white;
    width: 99%;
}

.serachbar {
    width:800px; 
    background-color: #464649; 
    border-color: #9147ff; 
    border-width: 2px;
}

.searchbarbtn {
    background-color: #9147ff; 
    border-color: #9147ff;
}

.bit-container {
    padding-top: 10px;
}

.bitbtn {
    background-color: #3a3a3d; 
    border-color: #3a3a3d; 
    height: 40px;
}

.dropdown-menu-right {
    left: 79.5%;
    top: 54px;
    background-color: #18181B; 
    width:320px
}

.bit-main-divider {
    color:black; 
    height:2px; 
    width: 100%;
}

.bit-reg-divider {
    color:#ffffff; 
    width: 100%;
}

.bit-row {
    padding-right: 10px;
}

.bit-picrow {
    padding-left: 15px;
}

.bit-textrow {
    padding-top: 8px;
}

.bitbtn-price {
    background-color: #9147ff; 
    border-color: #9147ff;
}

nav div ul li a:hover{
    color:#9147ff !important;
}

.verticaldots:hover {
    background-color: #3a3a3d;
}
