.container-fluid {
    padding:0px;
}

.afterAD-row {
    padding:1%;
    padding-top: 4%;
}

.normal-row {
    padding:2%;
}

.channeldivider {
    color:#3a3a3d;
    width:100%;
}

div div div div {
    margin-right:1%;
}

.catLink {
    color:#9147ff;
}