<div class="container-fluid">
    <div class="row" style="margin-bottom:12.5%">
        <app-carousel></app-carousel>
    </div>
    <div class="row afterAD-row">
        <h5 class="text-white">Live channels we think you'll like</h5>
        <div class="d-flex flex-row flex-wrap flex-gap">
            <div *ngFor="let LivestreamCard of livestreamcards"> 
                <app-livestream-cards
                streamPicture={{LivestreamCard.streamPicture}} 
                streamTitle={{LivestreamCard.streamTitle}} 
                streamerName={{LivestreamCard.streamerName}} 
                streamerProfilePicture={{LivestreamCard.streamerProfilePicture}} 
                streamGame={{LivestreamCard.streamGame}}
                ></app-livestream-cards>
            </div>
        </div>
        <hr class="channeldivider">
    </div>

    <div class="row normal-row">
        <h5 class="text-white">Categories we think you'll like</h5>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <hr class="channeldivider">
    </div>
</div>