<h1 class="text-white">Browse</h1>
<div class="navbar navbar-expand">
    <ul class="navbar-nav">
        <li>
            <a routerLink="/browse/categories" routerLinkActive="btn-active" class="nav-link fw-bold">Categories</a>
        </li>
        <li>
            <a routerLink="/browse/livechannels" routerLinkActive="btn-active" class="nav-link fw-bold">Live Channels</a>
        </li>
    </ul>
</div>

<div class="d-flex">
    <h5 class="text-white align-self-end">Filter by</h5>
    <button class="btn align-self-center" type="submit">
        <img src="./assets/Body/Browse/search.png" width="25" height="25">
    </button>
    <input class="form-control" type="search" placeholder="Search Tags" aria-labeld="search">
    <h5 class="text-white align-self-end ms-auto">Sort by</h5>
    <button class="btn align-self-center text-white fw-bold" type="submit">Recommended For You</button>
</div>

<div class="outlet">
    <router-outlet></router-outlet>
</div>