h1 {
    font-size:400%;
    margin-top:3%;
    margin-left:2%;
}

.navbar {
    margin-left:1.7%;
}

.d-flex {
    margin-bottom:2%;
    padding-left:2.2%;
    padding-right:2.2%;
}

.btn {
    background-color: #3a3a3d;
    margin-left: 1%;
}

.form-control {
    width:200px;
    margin-left:-5px;
    background-color: #3a3a3d;
    border-color: #3a3a3d;
}

.nav-link {
    color:white;
    font-size:140%;
    margin-right:10px;
}

.nav-link:hover {
    color:#9147ff;
}

.outlet {
    margin-left:2.25%;
}

.btn-active {
    text-decoration: underline;
    color:#9147ff;
}

.container-fluid {
    padding:0px;
}