<div class="relative">
  <div class="absolute container-fluid">
    <img class="left" src="https://images-na.ssl-images-amazon.com/images/G/01/dacx/AdForge/OMEN-HEADLINER-L-8eb902fa-e1c6-4853-8b60-259d1f1647ef._CBnull_.png">
    <img class="right" src="https://images-na.ssl-images-amazon.com/images/G/01/dacx/AdForge/OMEN-HEADLINER-R-c244218d-9b4c-4b14-a868-e8c492474e07._CBnull_.png">
  </div>

  <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="100000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <iframe src="https://player.twitch.tv/?channel=SmiteGame&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"></iframe>
      </div>
      <div class="carousel-item">
        <iframe src="https://player.twitch.tv/?channel=ludwig&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"></iframe>
      </div>
      <div class="carousel-item">
        <iframe src="https://player.twitch.tv/?channel=Zapman&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"></iframe>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
