<button type="button" class="btn dropdown-toggle dropdown-toggle-split fs-4 more-btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img class="verticaldots" src="./assets/Top Nav Bar/menu-vertical.png">
</button>
<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton1">
    <li><h6 class="dropdown-header text-white-50">GENERAL</h6></li>
    <li><a class="dropdown-item text-white" href="#">About</a></li>
    <li><a class="dropdown-item text-white" href="#">Advertisers</a></li>
    <li><a class="dropdown-item text-white" href="#">Blog</a></li>
    <li><a class="dropdown-item text-white" href="#">Developers</a></li>
    <li><a class="dropdown-item text-white" href="#">Download Apps</a></li>
    <li><a class="dropdown-item text-white" href="#">Gift Card</a></li>
    <li><a class="dropdown-item text-white" href="#">IGDB</a></li>
    <li><a class="dropdown-item text-white" href="#">Jobs</a></li>
    <li><a class="dropdown-item text-white" href="#">Loot Cave - Merch Store</a></li>
    <li><a class="dropdown-item text-white" href="#">Music on Twitch</a></li>
    <li><a class="dropdown-item text-white" href="#">Partners</a></li>
    <li><a class="dropdown-item text-white" href="#">Press</a></li>
    <li><a class="dropdown-item text-white" href="#">Turbo</a></li>
    <div class="container"> 
        <li><hr class="dropdown-divider col-6 more-main-divider">
    </div>
    <li><h6 class="dropdown-header text-white-50">HELP & LEGAL</h6></li>
    <li><a class="dropdown-item text-white" href="#">Accessibility Statement</a></li>
    <li><a class="dropdown-item text-white" href="#">Ad Choices</a></li>
    <li><a class="dropdown-item text-white" href="#">Community Guidelines</a></li>
    <li><a class="dropdown-item text-white" href="#">Cookie Policy</a></li>
    <li><a class="dropdown-item text-white" href="#">Help</a></li>
    <li><a class="dropdown-item text-white" href="#">Private Policy</a></li>
    <li><a class="dropdown-item text-white" href="#">Safety Center</a></li>
</ul>