<div class="container-fluid">
    <div class="row">
        <app-carousel></app-carousel>
    </div>
    <div class="row afterAD-row">
        <h5 class="text-white">Live channels we think you'll like</h5>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <hr class="channeldivider">
    </div>
</div>