<h5 class="text-white fw-bold">Add Category Card</h5>

<form #postForm="ngForm" (ngSubmit)="onAddCategoryCard(postForm.value)">
    <div class="row">
      <div class="col-2">
        <input type="text" class="form-control" ngModel name="streamGame" placeholder="Game Name">
      </div>
      <div class="col-5">
        <input type="text" class="form-control" ngModel name="gamePicture" placeholder="Game Picture URL">
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary text-white" type="submit">Submit</button>
      </div>
    </div>
</form>