<div class="container-fluid">
    <div class="row g-0">
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
    </div>

    <div class="row g-0">
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
        <div class="col">
            <app-category-cards></app-category-cards>
        </div>
    </div>
</div>
