<div class="conatiner-fluid" style="padding:0px">
    <div class="row g-0">
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
    </div>
    <div class="row g-0">
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
        <div class="col">
            <app-livestream-cards></app-livestream-cards>
        </div>
    </div>
</div>