<div class="container-fluid">
    <h5 class="text-white">Live channels</h5>
    <div class="d-flex flex-row flex-wrap flex-gap">
        <div *ngFor="let LivestreamCard of livestreamcards"> 
            <app-livestream-cards
            streamPicture={{LivestreamCard.streamPicture}} 
            streamTitle={{LivestreamCard.streamTitle}} 
            streamerName={{LivestreamCard.streamerName}} 
            streamerProfilePicture={{LivestreamCard.streamerProfilePicture}} 
            streamGame={{LivestreamCard.streamGame}}
            ></app-livestream-cards>
        </div>
    </div>
</div>